[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-functions = "~=0.1.0"
google-cloud-secret-manager = "*"
requests = "*"
firebase-admin = "*"
supabase = "*"
yt-dlp = "*"
openai = "*"
python-dotenv = "*"
google-cloud-storage = "*"
pytest = "*"
pytest-mock = "*"
pydantic = {extras = ["email"], version = "*"}
pytest-asyncio = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
feedparser = "*"
aiohttp = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
set_youtube_token = "python scripts/get_youtube_token.py"
test_db = "pytest tests/test_database.py -v"
test_youtube = "pytest tests/test_youtube_api.py -v"
test_youtube_unit = "pytest tests/test_youtube_api_unit.py -v"
test_db_oauth = "pytest tests/test_database_oauth.py -v"
test_channel_monitor = "pytest tests/test_channel_monitor.py -v"
test_rss_fetcher = "pytest tests/test_rss_fetcher.py -v"
